# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Zhilei Han
	email = linusboyle@gmail.com
[color]
    ui = true
[core]
    whitespace = trailing-space,space-before-tab
    pager = less -iFRXS -x4
	excludesfile = /home/linusboyle/.gitignore.global
[merge]
    tool = vimdiff
    keepBackup = false
    prompt = true
# [init]
# templateDir = ~/.git_template
