!Xft
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!!!!!!!urxvt!!!!!
URxvt.font: xft:Source Code Pro SemiBold:size=13:antialias=true,xft:FontAwesome:pixelsize=13,xft:WenQuanYi Zen Hei Mono:size=13
URxvt.terminalName:rxvt-unicode-256color

URxvt.borderless: true
URxvt.urgentOnBell: false

urxvt*depth: 32
urxvt*background: [90]#000000
URxvt*fading: 20
URxvt.shading: 20

URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.scrollstyle: plain

URxvt.saveLines:  8000
URxvt.visualBell: false

URxvt.inputMethod:fcitx

URxvt.inheritPixmap:true
URxvt.scrollBar_floating:False
URxvt.mouseWheelScrollPage:True
URxvt.cursorBlink:True

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.letterSpace: -1







#define base00 #262626
#define base01 #96e931
#define base02 #e89e0f
#define base03 #555f69
#define base04 #4083cd
#define base05 #a3a3a3
#define base06 #d358d5
#define base07 #dfdfdf
#define base08 #cb4674
#define base09 #fc4474
#define base0A #a18417
#define base0B #74d55c
#define base0C #af87d7
#define base0D #627ad2
#define base0E #91429d
#define base0F #22abbb

! Set the colours from the colour definitions
*.foreground:  base05
#ifdef background_opacity
*.background:  [background_opacity]base00
#else
*.background:  base00
#endif
*.cursorColor: base05

! Dark colours
*.color0:  base00
*.color1:  base08
*.color2:  base0B
*.color3:  base0A
*.color4:  base0D
*.color5:  base0E
*.color6:  base0C
*.color7:  base05

! Light colours
*.color8:  base03
*.color9:  base09
*.color10: base01
*.color11: base02
*.color12: base04
*.color13: base06
*.color14: base0F
*.color15: base07

! Additional colours (may not be displayed in some terminals)
*.color16: base09
*.color17: base0F
*.color18: base01
*.color19: base02
*.color20: base04
*.color21: base06
