!Xft
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!!!!!!!urxvt!!!!!
!URxvt.font: xft:Source Code Pro SemiBold:size=11:antialias=true,xft:FontAwesome:pixelsize=11,xft:WenQuanYi Zen Hei Mono:size=11
URxvt.font: xft:Hack:size=13:antialias=true:style=Bold,xft:FontAwesome:size=13,xft:Noto Sans Mono CJK SC:size=13:style=Bold
URxvt.terminalName:rxvt-unicode-256color

URxvt.borderless: true
URxvt.urgentOnBell: false

URxvt*depth: 32
!URxvt*fading: 20
URxvt.shading: 0

URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.scrollstyle: plain

URxvt.saveLines:  8000
URxvt.visualBell: false

URxvt.inputMethod:fcitx

URxvt.inheritPixmap:true
URxvt.scrollBar_floating:False
URxvt.mouseWheelScrollPage:True
URxvt.cursorBlink:True

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.letterSpace: -1

!URxvt.perl-ext: tabbedex,font-size
URxvt.perl-ext: font-size
!URxvt.tabbedex.tabbar-fg: 4
!URxvt.tabbedex.tab-bg: 4

URxvt.keysym.C-minus: font-size:decrease
URxvt.keysym.C-equal: font-size:increase
URxvt.font-size.step: 4

#define base00 #282936
#define base01 #3a3c4e
#define base02 #4d4f68
#define base03 #626483
#define base04 #62d6e8
#define base05 #e9e9f4
#define base06 #f1f2f8
#define base07 #f7f7fb
#define base08 #ea51b2
#define base09 #b45bcf
#define base0A #00f769
#define base0B #ebff87
#define base0C #a1efe4
#define base0D #62d6e8
#define base0E #b45bcf
#define base0F #00f769

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

! Rofi
rofi.font:     Hack 18

!!!! xterm
XTerm.termName: xterm-256color
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: Hack:size=12:antialias=true
XTerm.vt100.renderFont: true
XTerm.vt100.scrollBar: false
